# FRONTEND
frontend/logs
frontend/*.log
frontend/npm-debug.log*
node_modules
dist
dist-ssr
.vscode/*
.idea
.DS_Store
.env*
!.env.example

# INFRA
.terraform/
*.tfstate*
.terraform.lock.hcl
.terraformrc
.terraform-version
infra/local/*.zip
infra/output.json