.recipe-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.recipe-stats {
  margin: 16px 0;
  display: flex;
  gap: 2rem;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .copy-ingredients-button {
    margin-left: auto;
    text-transform: none;
  }
}

.recipe-steps {
  margin-bottom: 1rem;

  ul {
    padding: inherit;
  }
}

.ingredients-column {
  width: 300px;
}

.ingredient-item:first-letter {
  text-transform: capitalize;
}
