footer {
  height: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  p {
    margin: 0;
    color: var(--font-color);
  }
}
