.create-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.create-recipe-alert {
  position: absolute;
  width: calc(100% - 2rem);
  bottom: calc(100% + 1rem);
}
