.create-recipe-form {
  width: 80%;
  max-width: 600px;
  margin: 3rem auto 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.create-recipe-form-input {
  width: 100%;
}

.create-recipe-alert {
  position: absolute;
  width: calc(100% - 2rem);
  bottom: calc(100% + 1rem);
}
