#page-header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  z-index: 99;
}

#page-container {
  margin: 4rem 0;
  height: calc(100vh - 8rem);
}

#page-footer {
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  z-index: 99;
}
