header {
  height: 100%;
  background-color: #c3daf5;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5rem;

    a:visited,
    a:hover,
    a:active {
      color: white;
    }
  }
}
