header {
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 2rem;

  a:visited,
  a:hover,
  a:active {
    color: var(--font-color);
  }
}

nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    height: 2rem;
  }
}
